# String

In [ ]:
L1='guna'

In [ ]:
L2='ajay'

In [ ]:
print('my name is',L1)

my name is guna

In [ ]:
print('my name is',L2)

my name is ajay

In [ ]:
print('my name is {L1}')

my name is {L1}

In [ ]:
print (f'my name is {L1}')

my name is guna

In [ ]:
S1='2003'

In [ ]:
print('my birth year is',S1)

my birth year is 2003

In [ ]:
print(f'my birth year is {S1}')

my birth year is 2003

# Format

In [ ]:
L1='guna'
S1=2003

In [ ]:
print('my name is {} and my birth year {}'.format(L1,S1))

my name is guna and my birth year 2003

In [ ]:
print('my name is {X} and my birth year {Y}'.format(X=L1,Y=S1))

my name is guna and my birth year 2003

# Input

In [ ]:
age=int(input('enter your age'))

enter your age22

In [ ]:
name=input('enter your name ')

enter your name abdul

In [ ]:
name=input('enter your name'):
print('my name is {},'.format(name))

In [ ]:
name =input("enter your name")
      print("my name is",format(name))

IndentationError: unexpected indent (<ipython-input-40-040754e281aa>, line 2)

# conditionals

In [ ]:
salary=int(input('what is your salary :'))
if salary>=10000:
  print ('High salary')

In [ ]:
salary=int(input('what is your salary :'))
if salary>=10000:
  print ('High salary')

what is your salary :2000

In [ ]:
age=int(input('what is your age : '))
if age>=18 and age<=150:
  print('the persion is voter')

what is your age : 30
the persion is voter

In [ ]:
age=int(input('what is your age : '))
if age>=18 and age<=150:
  print('the persion is voter')

what is your age : 12

In [ ]:
age=int(input('what is your age : '))
if age>=18 and age<=150:
  print('the persion is voter')
else:
  print('no voter')

what is your age : 12
no voter

In [ ]:
M=int(input('what number : '))
if M>=90 :
  print('A')
elif M>=80 :
  print('B')
elif M>=70 :
  print('c')
elif M>=60 :
  print('D')
else:
  print('E')

what number : 56
E

In [ ]:
price=int(input('How mach : '))
if price>=1000 and price<2000:
  print ('discount is {}'.format(price-(price*5/100)))
elif price>=2000 and price<3000:
  print('discount is {}'.format(price-(price*10/100)))
elif price>=3000 and price<4000:
   print ('discountn is {}'.format(price-(price*15/100)))
elif price>=4000 and price<5000:
  print ('discountn is {}'.format(price-(price*20/100)))
else:
  print ('discountn is {}'.format(price-(price*25/100)))

How mach : 5468
discountn is 4101.0

#Loope

In [ ]:
animals=['lion','tiger','wolf']

In [ ]:
for i in animals:
  print(i)

lion
tiger
wolf

In [ ]:
flowers=['rose','lily','dasiy']
for x in flowers:
  print (x)

rose
lily
dasiy

In [ ]:
for x in flowers:
  print (x)

rose
lily
dasiy

#Range

In [ ]:
for i in range(0,9,2):
  print(i)

0
2
4
6
8

In [ ]:
for i in range(15,30,2):
  print(i)

15
17
19
21
23
25
27
29

In [ ]:
#for if

In [ ]:
flowers=['rose','jazz','hibi']

In [ ]:
for i in flowers:
  if i=='hibi':
   print('m.g')
  print(i)

rose
jazz
m.g
hibi

In [ ]:
for i in flowers:
  if i=='hibi':
    print('m.g')

m.g

#Loop control

In [ ]:
#continue

In [ ]:
for i in flowers:
  if i=='jazz':
    print('m.g')
    continue
  print(i)

rose
m.g
hibi

In [ ]:
for i in animals:
  if i=='dog':
    print('bow bow')
  print(i)

NameError: name 'animals' is not defined

In [ ]:
#Break

In [ ]:
for i in flowers:
  if i=='jazz':
    print('m.g')
    break
  print(i)

rose
m.g

In [ ]:
animals=['lion','tiger','dog','cat','leopard']

#Nested

In [ ]:
for i in range (10):
  for j in range(2):
    print('itv')

itv
itv
itv
itv
itv
itv
itv
itv
itv
itv
itv
itv
itv
itv
itv
itv
itv
itv
itv
itv

In [ ]:
for i in range (10):
  for j in range(2):
    print(j)

0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1

In [ ]:
for i in range (10):
  for j in range(1,6):
    if j%5==0:
     break
    print(j)

1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4

#While

In [ ]:
case=int(input('entre amount'))

while case<=5000:
   print(case)
   case=case+100
else:
   print('no more case')

entre amount578457
no more case

#Funtions

In [ ]:
def name():
  return "this is my first function"
print (name())

this is my first function

In [ ]:
def name():
  return "this is my first function"

In [ ]:
name()

'this is my first function'

In [ ]:
def addition(a,b):
  c=a+b
  return c

In [ ]:
addition(3,6)

9

In [ ]:
 def divition(a,b):
  c=a/b
  return c

In [ ]:
divition(25,5)

5.0

In [ ]:
def squre(a,b):
  c=a**b
  return c

In [ ]:
squre(5,2)

25

In [ ]:
def evenorodd(x):
  if x %2 == 0:
    print('even')
  else:
    print('odd')

In [ ]:
evenorodd(9)

odd

In [ ]:
def gerthen(x,y):
  if x>y:
    print('x is gerthen')
  else:
    print('y is gerthen')

In [ ]:
gerthen(49,67)

y is gerthen

In [ ]:
def gerthen(x,y):
  if x>y:
    return('x is gerthen')
  else:
    return('y is gerthen')

In [ ]:
gerthen(45,68)

'y is gerthen'

In [ ]:
def extractin(a):
  n=[]
  for i in a:
    if type(i)==int or type(i)==float:
      n.append(i)
  return n

In [ ]:
extractin([1,2,3,4,'itv',[5,6,7,8],(9,10,11),12.3,35.6])

[1, 2, 3, 4, 12.3, 35.6]

In [ ]:
def extractin(a):
  n=[]
  for i in a:
    if type(i)==str:
      n.append(i)
  return n

In [ ]:
extractin([1,2,3,4,'itv','guna',[5,6,7,8],(9,10,11),12.3,35.6])

['itv', 'guna']

In [ ]:
def extractin(a):
  n=[]
  for i in a:
    if type(i)==list:
      n.append(i)
  return n

In [ ]:
extractin([1,2,3,4,'itv','guna',[5,6,7,8],(9,10,11),12.3,35.6])

['itv', 'guna']

In [ ]:
def extractin(a):
  n=[]
  for i in a:
    if type(i)==list or type(i)==tuple:
     for j in i:
      if type(j)==int or type(j)== float:
        n.append(j)
    else:
      if type(i)==int or type(i)==float:
        n.append(i)
  return n

In [ ]:
extractin([1,2,3,4,'itv','guna',[5,6,7,8],(9,10,11),12.3,35.6])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12.3, 35.6]

In [ ]:
def ex(a):
  n=[]
  for i in a:
    if type(i)==list:
      for j in i:
        if type(j)==int:
          n.append
    else:
      if type(i)==int:
        n.append(i)

In [ ]:
ex=([1,2,3,4,[5,6,7,8],12.3,35.6])

#Lambada

In [ ]:
name=lambda a,b:a**b

In [ ]:
name(2,5)

32

In [ ]:
cls= lambda c : 1.8*c +32

In [ ]:
cls(12)

53.6

In [ ]:
max=lambda a,b:a if a>b else b

In [ ]:
max(34,567)

567

In [ ]:
max1=lambda x,y:x if x<y else y

In [ ]:
max1(234,435)

234

#Class

In [ ]:
a=1

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
class text1:
  pass

In [ ]:
x=text1()

In [ ]:
print(type(x))

<class '__main__.text1'>

In [ ]:
class text2:
  pass

In [ ]:
y=text2()

In [ ]:
print(type(y))

<class '__main__.text2'>

In [ ]:
class itv:
  def message(self):
     print('welcome to itv')

In [ ]:
guna=itv()

In [ ]:
guna.message()

welcome to itv

In [ ]:
def nme():
  print('ajay')

a = nme()
a

ajay

In [ ]:
def reg():
  print('101')
reg()

101

In [ ]:
def nme():
  print('guna')
nme()

guna

In [ ]:
class stu:
  def nme(self):
    print('ajay')
  def reg(self):
    print('101')
a = stu()
a.nme()
a.reg()

ajay
101

In [ ]:
class stu2:
  def nme(self):
    print('guna')
  def reg(self):
    print('102')
b = stu2()
b.nme()

guna

In [ ]:
class org:
  def day_1(self):
    print("welcome to day 1")
  def day_7(self):
    print("you are succesfully completed week 1 in our org")
Guna = org()

In [ ]:
Guna.day_7()

you are succesfully completed week 1 in our org

#Costructor
The task of constructors is to initialize(assign values) to the data members of the class

In [ ]:
class sad_streets:
  def __init__(vj,ph,email,age):
    vj.phone=ph
    vj.email=email
    vj.age=age
  def member_data(vj):
    return vj.phone,vj.email,vj.age

In [ ]:
abdul = sad_streets(9836273,"123@h.com",22)

In [ ]:
guna=sad_streets(1234,"g@gamil.com",21)

In [ ]:
vijay=sad_streets(54321,'v@gamil.com',25)

In [ ]:
yuva=sad_streets(7890,'y@gmail.com',24)

In [ ]:
aijay=sad_streets(987,'a@gamil.com',23)

In [ ]:
yuva.age

24

In [ ]:
yuva.member_data()

(7890, 'y@gmail.com', 24)

In [ ]:
vijay.phone

54321

In [ ]:
class vehicle:
  def __init__(self,a,b):
    self.a=a
    self.b=b
    print(a/b)
  def ans(self):
    return self.a,self.b

In [ ]:
vehicle_name=vehicle(40,0.30)

133.33333333333334

#swapping

In [ ]:
a=54
b=35

In [ ]:
a,b=b,a

In [ ]:
a

35

In [ ]:
b

54

#Args funtions

In [ ]:
def add(*args):
  return args

In [ ]:
a=[1,2,3,4]

In [ ]:
add(a)

([1, 2, 3, 4],)

In [ ]:
def add(*guna):
  return guna

In [ ]:
a=[1,2,3,4,(5,6,7),'guna',True]

In [ ]:
add(a)

([1, 2, 3, 4, (5, 6, 7), 'guna', True],)

In [ ]:
def add(*guna,a):
  return guna,a

In [ ]:
add(a,a=21)

(([1, 2, 3, 4, (5, 6, 7), 'guna', True],), 21)

#kwargs

In [ ]:
def add(**kwargs):
  return kwargs

In [ ]:
a=['a':21,'b':56]

SyntaxError: invalid syntax (<ipython-input-78-6bb42fffcb22>, line 1)

In [ ]:
add(a)

([1, 2, 3, 4, (5, 6, 7), 'guna', True],)

#access mudities

In [ ]:
class marigold:
  def __init__(self,name,contect,salary):
    self.name=name
    self.contect=contect
    self.salary=salary

In [ ]:
per1=marigold('guna',9087654321,56000)

In [ ]:
per2=marigold('abdul',1234567890,60000)

In [ ]:
per3=marigold('vijay',6789054321,75000)

In [ ]:
per2.salary

60000

In [ ]:
class marigold:
  def __init__(self,name,contect,salary):
    self.name=name
    self.contect=contect
    self.__salary=salary

  def get(self):
    return self.__salary

In [ ]:
per1=marigold('guna',9087654321,56000)

In [ ]:
per1.get()

56000

In [ ]:
per1.name

'guna'

In [ ]:
per1.__salary

AttributeError: 'marigold' object has no attribute '__salary'

#Oops

encapaslution

In [ ]:
class itv:
  def __init__(self,name,contect,salary):
    self.name=name
    self.contect=contect
    self.__salary=salary

In [ ]:
per1=itv('guna',9087654321,56000)

In [ ]:
class itv:
  def __init__(self,name,contect,salary):
    self.name=name
    self.contect=contect
    self.__salary=salary

  def get_salary(self):
    return self.__salary

In [ ]:
class itv:
  def __init__(self,name,contect,salary):
    self.name=name
    self.contect=contect
    self.__salary=salary

  def get_salary(self):
    return self.__salary=salary

SyntaxError: invalid syntax (<ipython-input-47-eff6403644cf>, line 8)

In [ ]:
class itv:
  def __init__(self,name,contect,salary):
    self.name=name
    self.contect=contect
    self.__salary=salary
#getter
  def get_salary(self):
    return self.__salary
#setter
  def set_salary(self,salary):
    self.__salary=salary

In [ ]:
p1=itv('guna',98979823425,80000)

In [ ]:
p1.set_salary(85000)

In [ ]:
p1.get_salary()

85000

In [ ]:
class itv:
  def __init__(self,name,contect,salary):
    self.name=name
    self.contect=contect
    self.__salary=salary
#setter
  def set_salary(self,salary):
    self.__salary=salary
#getter
  def get_salary(self):
    return self.__salary

In [ ]:
p1=itv('guna',98979823425,80000)

In [ ]:
p1.set_salary(85000)

In [ ]:
p1.get_salary()

85000

#Inheritance

In [ ]:
class animal:
  def __init__(self,name):
    self.name=name
  def food(self):
    print(self.name + ' eats food')

class dog(animal):
  def __init__(self,breed,name):
    self.breed=breed
#cell the animal consturctor
    animal.__init__(self,name)

  def type1(self):
    print(self.breed)

  def cell(self):
    print(self.breed,self.name)

In [ ]:
L1=dog('kombai','karuppu')

In [ ]:
L1.type1()

kombai

In [ ]:
L1.food()

karuppu eats food

In [ ]:
L1.cell()

kombai karuppu

In [ ]:
class persion:
  def __init__ (self,first_name,last_name):
    self.first_name=first_name
    self.last_name=last_name
  def name(self):
    return(self.first_name,self.last_name)

class student(persion):
  def __init__ (self,mark,first_name,last_name):
    self.mark=mark
    persion.__init__(self,first_name,last_name)

  def inherits(self):
    print(self.mark)

  def call (self):
    print(self.first_name,self.last_name, self.mark)

In [ ]:
detalis=student(82,'tamil','arasan')

In [ ]:
detalis.inherits()

82

In [ ]:
detalis.call()

NameError: name 'detalis' is not defined

In [ ]:
class person:
  def __init__ (self,first_name,last_name):
    self.first_name=first_name
    self.last_name=last_name
  def name(self):
    return(self.first_name,self.last_name)

class student(person):
  def __init__ (self,mark,first_name,last_name):
    self.mark=mark
    super().__init__(first_name,last_name)

  def inherits(self):
    print(self.mark)

class detatil(student):
  def __init__(self,blod,mark):
    self.blood=blood
    super().__init__(mark)

  def call (self):
    print(self.first_name,self.last_name, self.mark)

In [ ]:
L1=detatil()

TypeError: detatil.__init__() takes 3 positional arguments but 5 were given

In [ ]:
L1.last_name

'arasan'

In [ ]:
from abc import ABC ,abstractmethod

In [ ]:
class animal(ABC):
  @abstractmethod
  def eat(self):
    pass

class dog(animal):
  def breed(self):
    pass

In [ ]:
A1=dog()

TypeError: Can't instantiate abstract class dog with abstract method eat

In [ ]:
#creat schema/skeleton

In [ ]:
class itv(ABC):
  @abstractmethod
  def student(self):
    pass

In [ ]:
class datascience(itv):
  def student (self):
     print('good maornig to data science')

In [ ]:
class fullstak(itv):
  def student(self):
    print('helo full stak')

In [ ]:
A1=datascience()

In [ ]:
A1.student()

good maornig to data science

In [ ]:
A2=fullstak()

In [ ]:
A2.student()

helo full stak

In [ ]:
#polymorphism

In [ ]:
class car:
  def __init__(self,brand):
    self.brand=brand
  def move(self):
    print("vrooom vrooom")

class plane